@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body
{
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;

}

#header .logo
{
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li{
    list-style: none;
    margin-left: 20px;
}

#header ul li a{
    text-decoration: none;
    font-size: 1em;
    color:rgb(0, 0, 0);
    padding: 6px 15px;
}



section
{
    
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    
}

section #text
{
    position: absolute;
    font-size: 10vw;
    text-align: center;
    line-height: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

section #subtext{
    position: absolute;
    top:65%;
    font-size: 1.80em;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center  ;
}

.sec
{
    position: relative;
    padding: 100px;
    height: 100vh;
    /* border: 2px solid black; */
}

.sec h2{
    font-size: 3.5em;
    display: flex;
    justify-content: flex-end;
    line-height: 2em;
}

.sec p{
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    position: absolute;
    left: 65%;
}

.sec button
{
    position: absolute;
    padding: 10px 15px 10px 15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(135, 211, 230);
    background-color: rgba(88, 224, 224, 0.575);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin: 10px;
    top: 70%;
    left: 65%;
}

.sec h1
{
    position: absolute; 
    top: 85%;
    left: 30%;
    font-family: 'Montserrat', sans-serif;
}

.cardsContainer
{
    display: flex;
    justify-content: center;
}

.card{
    background: black;
    border-radius: 14px;
    width: 520px;
    height: 440px;
    margin: 30px;
}

.card img{
    width: 100%;
    height: 440px;
    border-radius: 15px;
}

.cardsContainer h1{
    position: absolute; 
    top: 90%;
    left: 40%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.cosmos
{
    width: 100%;
    height:100vh;
    /* position:relative; */
    /* border: 2px solid red; */
}

.cosmos p
{
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.physicsCards
{
    
    display: flex;
    
}


.card1{
    background: black;
    border-radius: 14px;
    width: 420px;
    height: 320px;
    margin: 30px;
}

.card1 img{
    width: 100%;
    height: 320px;
    border-radius: 15px;
}




footer
{
    width: 100%;
    /* background-image: linear-gradient(to right, rgba(31, 30, 30, 0.829) , rgb(7, 7, 7));; */
    
}

.block1 {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:2px;
}

.about
{
    width: 40%;
    line-height: 30px;
    margin-bottom: 5%;
}

.about h2
{   text-transform: uppercase;
    /* color: #6d6d6d; */
}

.about p
{
    text-align: justify;
    /* color:lightgray */
}

.block1 h2
{   text-transform: uppercase;
    /* color: #6d6d6d; */
}

.block1 ul{
    list-style: none;
}

.block1 a{
    
    text-decoration: none;
    color: black;
    /* color: lightgray; */
    line-height: 30px;
}

.block1 i{
    line-height: 30px;
    padding-right: 15px;
    /* color: lightgray; */
}




